.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    transition: .3s ease;
}
#venue,#info,#time{
    margin: 3px;
}

@media screen and(max-width: 450px){
    #venue,#info,#time{
        margin-top: 0;
        font-size: medium;
    }
}