body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: white;
  background-color: black;
  font-family: 'League Spartan', sans-serif;
}

.heading{
  display: block;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left:80rem;
 font-family: 'Ubuntu', sans-serif;
}